body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
  }
  
  .container {
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  .button-link {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    background-color: #396bb6;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button-link:hover {
    background-color: #0b50b8;
  }
  
  .button-link + .button-link {
    margin-left: 10px;
  }
  
  .link-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .image-container {
    margin-top: 20px;
  }
  
  .image-container img {
    width: 300px;
    height: auto;
    transition: opacity 0.3s ease;
  }
 
  .image-container img {
    margin-top : 30%;
    cursor : pointer;
    content: url("/public/images/joke1.png");
  }

  .image-container img:hover {
    margin-top : 30%;
    cursor : pointer;
    content: url("/public/images/joke2.png");
  }
