/* 공통 스타일 */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1, h2 {
  text-align: center;
  margin-top: 20px;
}

h4{
  text-align: center;
  margin-top : -20px;
  color : #797979;
}

.form-container {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #0e0303;
  border-radius: 8px;
  background-color: #d0f5eb;
  user-select: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal ul li {
  margin: 5px 0;
  font-size: 18px;
  color: #9b3f3f;
}

.class-button {
  background-color: #10a585;
  color: white;
  position: relative;
  justify-content: center;
  align-items: center;
  gap : 30px;
  width : 48%;
  height : 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #10a585;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  max-height: 70vh;
  overflow-y: auto;
}


.modal h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

.modal button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4abda4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #10a585;
}
